@font-face {
  font-family: DBHelvethaicaMonXBd;
  src: url(../font/DBHelvethaicaMonXBd.woff2);
}
@font-face {
  font-family: DBHelvethaicaMonX;
  src: url(../font/DBHelvethaicaMonX.woff2);
}
.helvethaixbd {
  font-family: 'DBHelvethaicaMonXBd' !important;
}
.helvethaix {
  color: white !important;
  font-family: 'DBHelvethaicaMonX' !important;
}
.athiti {
    font-family: 'Athiti', sans-serif !important;
}

.dosis {
    font-family: 'Dosis', sans-serif !important;
}

.prompt {
    font-family: 'Prompt', sans-serif !important;
}

#header.container.nav-menu-container.nav-menu {
    font-size: 20px !important;
}

.intro-content .page-header{
    position: absolute;
    z-index: 100;
}
#topbar .container .contact-info .profile {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border-style: solid;
    border-color: #f4af1a;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.profile {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border-style: solid;
    border-color: #f4af1a;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.progress-level {
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%) !important;
}

/* BG Color */
.uc-red {
  background-color: #DB2828 !important;
}
.uc-red.inverted {
  background-color: #FF695E !important;
}

/* Orange */
.uc-orange {
  background-color: #F2711C !important;
}
.uc-orange.inverted {
  background-color: #FF851B !important;
}

/* Yellow */
.uc-yellow {
  background-color: #FBBD08 !important;
}
.uc-yellow.inverted {
  background-color: #FFE21F !important;
}

/* Olive */
.uc-olive {
  background-color: #B5CC18 !important;
}
.uc-olive.inverted {
  background-color: #D9E778 !important;
}

/* Green */
.uc-green {
  background-color: #21BA45 !important;
}
.uc-green.inverted {
  background-color: #2ECC40 !important;
}

/* Teal */
.uc-teal {
  background-color: #00B5AD !important;
}
.uc-teal.inverted {
  background-color: #6DFFFF !important;
}

/* Blue */
.uc-blue {
  background-color: #2185D0 !important;
}
.uc-blue.inverted {
  background-color: #54C8FF !important;
}

/* Violet */
.uc-violet {
  background-color: #6435C9 !important;
}
.uc-violet.inverted {
  background-color: #A291FB !important;
}

/* Purple */
.uc-purple {
  background-color: #A333C8 !important;
}
.uc-purple.inverted {
  background-color: #DC73FF !important;
}

/* Pink */
.uc-pink {
  background-color: #E03997 !important;
}
.uc-pink.inverted {
  background-color: #FF8EDF !important;
}

/* Brown */
.uc-brown {
  background-color: #A5673F !important;
}
.uc-brown.inverted {
  background-color: #D67C1C !important;
}

/* Grey */
.uc-grey {
  background-color: #767676 !important;
}
.uc-grey.inverted {
  background-color: #DCDDDE !important;
}

/* Black */
.uc-black {
  background-color: #1B1C1D !important;
}
.uc-black.inverted {
  background-color: #545454 !important;
}

/* Font Color */
.uc-text-red {
  color: #DB2828 !important;
}
.uc-text-red.inverted {
  color: #FF695E !important;
}

/* Orange */
.uc-text-orange {
  color: #F2711C !important;
}
.uc-text-orange.inverted {
  color: #FF851B !important;
}

/* Yellow */
.uc-text-yellow {
  color: #FBBD08 !important;
}
.uc-text-yellow.inverted {
  color: #FFE21F !important;
}

/* Olive */
.uc-text-olive {
  color: #B5CC18 !important;
}
.uc-text-olive.inverted {
  color: #D9E778 !important;
}

/* Green */
.uc-text-green {
  color: #21BA45 !important;
}
.uc-text-green.inverted {
  color: #2ECC40 !important;
}

/* Teal */
.uc-text-teal {
  color: #00B5AD !important;
}
.uc-text-teal.inverted {
  color: #6DFFFF !important;
}

/* Blue */
.uc-text-blue {
  color: #2185D0 !important;
}
.uc-text-blue.inverted {
  color: #54C8FF !important;
}

/* Violet */
.uc-text-violet {
  color: #6435C9 !important;
}
.uc-text-violet.inverted {
  color: #A291FB !important;
}

/* Purple */
.uc-text-purple {
  color: #A333C8 !important;
}
.uc-text-purple.inverted {
  color: #DC73FF !important;
}

/* Pink */
.uc-text-pink {
  color: #E03997 !important;
}
.uc-text-pink.inverted {
  color: #FF8EDF !important;
}

/* Brown */
.uc-text-brown {
  color: #A5673F !important;
}
.uc-text-brown.inverted {
  color: #D67C1C !important;
}

/* Grey */
.uc-text-grey {
  color: #767676 !important;
}
.uc-text-grey.inverted {
  color: #DCDDDE !important;
}

/* Black */
.uc-text-black {
  color: #1B1C1D !important;
}
.uc-text-black.inverted {
  color: #545454 !important;
}
/* Dark Green */
.uc-text-darkgreen {
  color: rgb(0, 105, 62) !important;
}

/* DarkGray */
.uc.text-darkgrey {
  color: rgb(82, 82, 82) !important;
}

/* Button */
#intro .intro-content .btn-get-started,
#intro .intro-content .btn-robux {
  font-family: 'Athiti', sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
}

#intro .intro-content .btn-get-started {
  background: #0c2e8a;
  border: 2px solid #0c2e8a;
}

#intro .intro-content .btn-get-started:hover {
  background: none;
  color: #0c2e8a;
}

#intro .intro-content .btn-robux {
  background: #03b65a;
  border: 2px solid #50d8af;
}

#intro .intro-content .btn-robux:hover {
  background: none;
  color: #0c2e8a;
  font-weight: bold;
}

.custom-checkbox-slider {
  position: relative;
  margin-right: 40px;
}
.custom-checkbox-slider:checked::before {
  transform: translateX(150%);
}
.custom-checkbox-slider:checked::after {
  background: #f4af1a;
}
.custom-checkbox-slider::after, .custom-checkbox-slider::before {
  content: '';
  top: -2px;
  left: -2px;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.custom-checkbox-slider::after {
  background: #b1b1b1;
  width: 50px;
  height: 20px;
  border-radius: 10px;
  outline: none;
}
.custom-checkbox-slider::before {
  width: 18px;
  height: 18px;
  left: 1px;
  top: -1px;
  border-radius: 50%;
  background: #fff;
  z-index: 1;
  outline: none;
}
.uc-form-control {
    border: 1px solid #ced4da !important;
    border-radius: 0px;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.uc-card {
    overflow: hidden;
    min-height: 350px;
    width: 100%;
    padding: 30px 0 30px 0;
    border-radius: 10px !important;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    background-color: white;
}
.uc-size-14 {
    font-size: 14px !important;
}

#loginpage, #topup, #topup-truemoney, #topup-truewallet{
  width: 100%;
  position: relative;
  background: url(../img/intro-carousel/1.jpg) no-repeat;
  background-size: cover;
}

#loginpage h2 {
  color: #0c2e8a;
  margin-bottom: 30px;
  font-size: 64px;
  font-weight: 700;
}

#loginpage .btn-login {
  font-family: 'Athiti', sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
}

#loginpage .btn-login {
  background: #03b65a;
  border: 2px solid #50d8af;
}

#loginpage .btn-login:hover {
  background: none;
  color: #0c2e8a;
  font-weight: bold;
}

.btn-order {
  font-family: 'Athiti', sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  color: #fff;
  background: #f4af1a;
  border: 2px solid #f6ba38;
}

.btn-order:hover {
  background: none;
  color: #f4af1a;
  font-weight: bold;
}

#loginpage .btn-register,
#loginpage .btn-forgot-pwd {
  font-family: 'Athiti', sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 5px 5px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 0px;
  color: #fff;
  width: 100%;
}

#loginpage .btn-register {
  border: 2px solid #f7c864;
  background: none;
  color: #f4af1a;
  font-weight: bold;
}

#loginpage .btn-register:hover {
  background: #f4af1a;
  color: #ffffff;
}
#loginpage .btn-forgot-pwd {
  background: none;
  color: #FF695E;
  font-weight: bold;
  border: 2px solid rgb(255, 160, 153);
}

#loginpage .btn-forgot-pwd:hover {
  background: #FF695E;
  color: #ffffff;
  
}


.quick-button {
  margin: 0 auto;
  position: relative;
  display: inline-block;
  width: 50%;
  height: auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  
}

.quick-button::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.quick-button:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
  -webkit-box-shadow: 0px 0px 31px -6px rgba(120,120,120,1);
  -moz-box-shadow: 0px 0px 31px -6px rgba(120,120,120,1);
  box-shadow: 0px 0px 31px -6px rgba(120,120,120,1);
}

.quick-button:hover::after {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 31px -6px rgba(120,120,120,1);
    -moz-box-shadow: 0px 0px 31px -6px rgba(120,120,120,1);
    box-shadow: 0px 0px 31px -6px rgba(120,120,120,1);
}


.products-image-zoom {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

.products-image-zoom img {
  transition: transform .5s ease;
  width: 100%;
  height: auto;
}
.products-image-zoom:hover img {
  transform: scale(1.1);
}
#for-you a {
  color: rgb(82, 82, 82) !important;
}
#for-you a:hover {
  color: #f4af1a !important;
}
#for-you a h3 {
  overflow: ellipsis;
  line-height: 18pt;
  font-size: 26px;
  font-family: 'DBHelvethaicaMonXBd' !important;
  margin: 0;
}
#for-you p {
  overflow: ellipsis;
  text-overflow: '...?';
  line-height: 15pt;
  font-size: 20px;
  font-family: 'DBHelvethaicaMonX' !important;
}

#topup a {
  color: rgb(82, 82, 82) !important;
}
#topup a:hover {
  color: #f4af1a !important;
}
#topup a h3 {
  margin-top: 15px !important;
  overflow: ellipsis;
  line-height: 18pt;
  font-size: 26px;
  font-family: 'DBHelvethaicaMonXBd' !important;
  margin: 0;
}
#topup a h3 span {
  color: #fb8104;
  overflow: ellipsis;
  line-height: 18pt;
  font-size: 26px;
  font-family: 'DBHelvethaicaMonXBd' !important;
  margin: 0;
}

#topup p {
  overflow: ellipsis;
  text-overflow: '...?';
  line-height: 15pt;
  font-size: 20px;
  font-family: 'DBHelvethaicaMonX' !important;
}
.uc-btn-out-line {
  font-family: 'Athiti', sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 0px;
  color: #fff;
  width: 100%;
}
.uc-btn-inline,
.ucbtn-yellow {
  font-family: 'Athiti', sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 5px 5px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 0px;
  color: #fff;
  width: 100%;
}
.uc-btn-inline  {
  border: 2px solid #d1d1d1;
  color: #d1d1d1;
  background: none;
  font-weight: bold;
}
.uc-btn-inline:hover  {
  color: #ffffff !important;
  background: rgb(16, 75, 102);
}

.rb-group  {
  border: 2px solid #1b1b1b;
  color: #1b1b1b;
  background: none;
  font-weight: bold;
}
.rb-group:hover  {
  color: #ffffff !important;
  background: rgb(16, 75, 102);
}

.ucbtn-yellow {
  border: 2px solid #f4af1a;
  color: #f4af1a;
  background: none;
  font-weight: bold;
}
.ucbtn-yellow:hover  {
  color: #ffffff !important;
  background: #f4af1a;
}


#newproducts .uc-btn-inline {
  font-family: 'Athiti', sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 5px 5px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 0px;
  color: #fff;
  width: 100%;
}
#newproducts .uc-btn-inline  {
  border: 2px solid #373a3c;
  color: #373a3c;
  background: none;
  font-weight: bold;
}
#newproducts .uc-btn-inline:hover  {
  color: #ffffff !important;
  background: #373a3c;
}

#topup-truemoney .uc-btn-inline,
#topup-truewallet .uc-btn-inline {
  font-family: 'Athiti', sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 5px 5px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 0px;
  color: #fff;
  width: 100%;
}


.uc-btn-out-line {
  border: 2px solid #50d8af;
  background: #03b65a;
  color: #ffffff;
}

.uc-btn-out-line:hover {
  background: none;
  color: #03b65a;
  font-weight: bold;
}

#topup-truemoney .uc-btn-inline,
#topup-truewallet .uc-btn-inline  {
  border: 2px solid #373a3c;
  color: #373a3c;
  background: none;
  font-weight: bold;
}

#topup-truemoney .uc-btn-inline:hover,
#topup-truewallet .uc-btn-inline:hover  {
  color: #ffffff !important;
  background: #373a3c;
}
.wallet-info {
  margin-top: 15px;
  margin-bottom: 5px !important;
}
.wallet-phone {
  margin: auto;
  width: 180px;
  padding: 1px 5px;
  background-color: #1B1C1D;
  color: white;
  font-weight: bold;
  font-size: 28px;
  font-family: 'DBHelvethaicaMonX' !important;
  -webkit-box-shadow: 0px 0px 31px -6px rgba(120,120,120,1);
  -moz-box-shadow: 0px 0px 31px -6px rgba(120,120,120,1);
  box-shadow: 0px 0px 31px -6px rgba(120,120,120,1);
}
.sw-alert {
  color: #1f1f1f;
}
.sw-alert:hover {
  color: #f4af1a;
}

.pd-card {
  margin: 10 30;
  width: 100%;
  min-height: 250px;
  border: 2px salmon;
  -webkit-box-shadow: 5px 5px 23px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 23px -12px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 23px -12px rgba(0,0,0,0.75);
}


.card-img-top {
  width: 100%;
  height: 200px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  overflow: hidden;
}
.card-img-top .robux {
  height: 300px;
}
.card-img-top .recommended {
  width: 100%;
  height: 120px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  overflow: hidden;
}

.card-img-top img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  transition: transform .5s ease;
}
.card-img-top:hover img {
  object-fit: cover;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  transform: scale(1.5);
}

.uc-table thead {
  background-color: #212529;
  color: white;
}

.w25 {
  width: 25% !important;
}
.w75 {
  width: 75% !important;
}
.pd-thumnail {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

.pd-thumnail img {
  transition: transform .5s ease;
  width: 100%;
  height: auto;
}
.pd-thumnail:hover img {
  transform: scale(1.1);
}

.pd-name {
  background-color: #343a40!important;
  color: white;
}
.pd-name h3 {
  padding-top: 5px;
  padding-left: 15px;
  font-size: 35px;
  font-family: 'DBHelvethaicaMonXBd' !important;
}
.pd-name p {
  font-size: 26px;
  padding-right: 15px;
  text-align: right;
  font-family: 'DBHelvethaicaMonX' !important;
}
.pd-desc {
  color: white !important;
  padding-top: 5px;
  padding-left: 15px;
  background-color: #f4af1a;
}
@media only screen and (max-width: 767px) {
  .pd-thumnail-col {
    padding-right: 15px;
  }
  .pd-info-col{
    padding-left: 15px;
  }
  .pd-info-cover-thumnail {
    height: 100px;
  }
}
@media only screen and (min-width: 768px) {
  .pd-thumnail-col {
    padding-right: 0px;
  }
  .pd-info-col{
    padding-left: 0px;
  }
  .pd-info-cover-thumnail {
    height: 270px;
  }
}

.uc-alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.roblox-card {
  border-style: solid;
  border-color: coral;
}
.size-10 {
  font-size: 10px !important;
}
.products-info {
  color: #f4af1a;
}

.uc-content {

}

.uc-content .card {

}
.uc-content .card .card-img-top {
  height: 200px;
}

.uc-content .card .card-title {
  font-size: 30px;
}
.uc-card-category {
  color: #212529 !important; 
}

.uc-card-service {
  width: 100%;
  min-height: 100px;
  border-radius: 0.35rem;
  box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 2rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
}


/* NEW DESIGH */
.uc-topbar{
  background-color: #1c1f24 !important;
  color: #bfbfbf;
  border-bottom: 1px solid rgb(14, 54, 73) !important;
}
.uc-topbar .contact-info a,
.uc-topbar .social-links a {
  color: #bfbfbf !important;
}
.uc-topbar .contact-info a:hover,
.uc-topbar .social-links a:hover {
  color: #54C8FF !important;
}

#header {
  background-color: #1c1f24 !important;
  /* font-family: 'Oswald', sans-serif; */
  border-bottom: 0.1rem solid rgb(50, 163, 216);
}
#header #logo a {
  font-family: 'Oswald', sans-serif;
  color: rgb(69, 226, 253) !important;
}
#header #logo a span {
  font-family: 'Oswald', sans-serif;
  color: rgb(15, 179, 255) !important;
}
#header .nav-menu a{
  color: #bfbfbf !important;
}
#header .nav-menu .menu-active a{
  color: #54C8FF !important;
}
#header .nav-menu a:hover,
#header .nav-menu .menu-active a:hover{
  color: rgb(50, 163, 216) !important;
}
#header .nav-menu ul{
  color: #54C8FF !important;
  background-color: #1c1f24 !important;
  box-shadow: none !important;
  border-radius: 10px;
  /* border: 1px solid #54C8FF !important; */
}
#intro #intro-carousel::before {
  background-color: none;
}
.bg-gradient {
  /* background: #6441A5 !important;
  background: -webkit-linear-gradient(to right, #2a0845, #6441A5) !important;
  background: linear-gradient(to right, #2a0845, #6441A5) !important; */
  background: #0f0c29 !important;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29) !important;
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29) !important;
}
#main {
  /* background: #6441A5 !important;
  background: -webkit-linear-gradient(to right, #2a0845, #6441A5) !important;
  background: linear-gradient(to right, #2a0845, #6441A5) !important; */
  background: #0f0c29 !important;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29) !important;
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29) !important;
}
#main .section-header h2 {
  color: white !important;
}
/* #main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
  color: white !important;
} */
.pd-a {
  color: white !important;
}
#main a:hover {
  color: #54C8FF !important;
}
#main p  {
  /* color: #bfbfbf !important; */
}
#main .uc-card-category {
  background: #141E30 !important;
  background: -webkit-linear-gradient(to right, #243B55, #141E30) !important;
  background: linear-gradient(to right, #243B55, #141E30) !important;
}
.pd-category {
  /* background: #141E30 !important;
  background: -webkit-linear-gradient(to right, #243B55, #141E30) !important;
  background: linear-gradient(to right, #243B55, #141E30) !important; */
  overflow: hidden;
  border-radius: 0.5rem;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 250px;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.pd-category .category-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 45%, rgba(0,0,0,0.65) 52%, rgba(0,0,0,0.65) 62%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 45%,rgba(0,0,0,0.65) 52%,rgba(0,0,0,0.65) 62%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 45%,rgba(0,0,0,0.65) 52%,rgba(0,0,0,0.65) 62%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.pd-category .category-info .category-title {
  color: white;
  margin: 0 0 5px 0;
  transition: 0.3s ease;
}
.pd-category .category-info .category-title:hover {
  color: #54C8FF !important;
}
.pd-category .category-info .category-text {
  font-family: 'DBHelvethaicaMonX' !important;
  font-size: 20px;
  line-height: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.pd-products {
  /* background: #141E30 !important;
  background: -webkit-linear-gradient(to right, #243B55, #141E30) !important;
  background: linear-gradient(to right, #243B55, #141E30) !important; */
  overflow: hidden;
  border-radius: 0.5rem;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 150px;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.pd-products .products-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 45%, rgba(0,0,0,0.65) 52%, rgba(0,0,0,0.65) 62%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 45%,rgba(0,0,0,0.65) 52%,rgba(0,0,0,0.65) 62%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 45%,rgba(0,0,0,0.65) 52%,rgba(0,0,0,0.65) 62%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.pd-products .products-info {
  position: absolute;
  bottom: 0;
  padding: 15px;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 45%, rgba(0,0,0,0.65) 52%, rgba(0,0,0,0.65) 62%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 45%,rgba(0,0,0,0.65) 52%,rgba(0,0,0,0.65) 62%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 45%,rgba(0,0,0,0.65) 52%,rgba(0,0,0,0.65) 62%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.pd-products .products-info .pd-item-img{
  border-radius: 10px;
  width: 50px;
  float:left;
  margin-right: 10px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}
.pd-products .products-info .products-title {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 5px 0;
  transition: 0.3s ease;
}
.pd-products .products-info .products-title:hover {
  color: #54C8FF !important;
}
.pd-products .products-info .products-text {
  font-family: 'DBHelvethaicaMonX' !important;
  font-size: 20px;
  line-height: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.uc-shadow-none {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75) !important;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75) !important;
}

footer {
  background: #4B79A1 !important;
  background: -webkit-linear-gradient(to right, #283E51, #4B79A1) !important;
  background: linear-gradient(to right, #283E51, #4B79A1) !important;
  color: white;
}

#footer #logo a {
  font-family: 'Oswald', sans-serif;
  color: rgb(69, 226, 253) !important;
}
#footer #logo a span {
  font-family: 'Oswald', sans-serif;
  color: rgb(15, 179, 255) !important;
}
#footer .nav-menu a{
  color: #bfbfbf !important;
}
#footer .nav-menu .menu-active a{
  color: #54C8FF !important;
}
#footer .footer-item {
  margin: 0 !important;
}

#footer .foot-link {
  color: #bfbfbf !important;
  transition: 0.3s ease;
}
#footer .foot-link:hover {
  color: rgb(15, 179, 255) !important;
}

/* SOCAIL ICON */
.social-container {
  width: 400px;
  margin: 40vh auto;
  text-align: center;
}
.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}
.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}
.social-icons i {
  color: #fff;
  position: absolute;
  top: 12px;
  left: 12px;
  transition: all 265ms ease-out;
}
.social-icons a {
  display: inline-block;
}
.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #00B5F5, #002A8F);
  transition: all 265ms ease-out;
}
.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}
.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #00B5F5;
  background: -webkit-linear-gradient(45deg, #00B5F5, #002A8F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}